.CheckoutSummary {
    width: 80%;
    margin: auto;
    text-align: center;
}

.Burger {
    width: 100%;
    margin: auto;
}

@media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
}